
.popup-dialoga{border:0;border-radius:var(--border-radius-soft);-webkit-box-shadow:var(--shadow-xl);box-shadow:var(--shadow-xl);margin:var(--space-m);max-height:calc(100% - var(--space-xl));min-width:69.44vh;overflow:visible;padding:var(--space-m);width:100%}.border-radius-16px{border-radius:16px!important}
