
.custom-minus-button-wb{position:absolute;z-index:5;left:-34px;top:20px;height:15px}.custom-minus-button-wb img{background-color:var(--color-neutral-0)}.list-item{border-bottom:unset!important}.custom-list-item{padding-bottom:6px!important;padding-top:6px}
