
.popup-dialog1{width:480px!important}.VerticalScroll{overflow-y:auto!important}.normal-text{color:var(--color-neutral-8);font-size:14px;font-weight:lighter}.tiny-text{font-size:12px}.special-text{color:var(--color-neutral-8);font-size:14px;font-style:italic;font-weight:lighter}.tight-text{margin:0;line-height:1.1}
