
.supplier-number{color:var(--color-neutral-8)!important;font-size:12px!important;font-style:italic!important;font-weight:lighter!important}.tight-text{margin:0;line-height:1.1}.supplier-name{font-size:14px!important}
